<html>

<head>
    {% load static %}{%csrf_token%}
    <title>FreeFall:</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static '/styles/bootstrap.css' %}">
    <!-- <link rel="stylesheet" href="http://bootstraptema.ru/snippets/style/2015/bootswatch/bootstrap-cyborg-v3.3.6.css"
        media="screen"> -->
    <!--<link rel="stylesheet" href="http://bootstraptema.ru/snippets/style/2015/bootswatch/custom.min.css">
    -->
    <link rel="stylesheet" href="{% static 'styles/baseStyle.css' %}">
    <script src="{% static '/js/baseScripts.js' %}" type="text/javascript"></script>
</head>

<body>
        
    <div class="header">
        <div>
            {% if username == "none"%}
            
            <a href="/login"><button type="button" class="btn">Login</button></a>
           
            {% else %}
            <button class="header_button user" onclick="window.location.href = '/login'"><img class="logo" src="{% static '/icons/logo_grey.png' %}">{{username}}</button>
            
            {% endif %}
            <button type="button" class="header_button" onclick="window.location.href = '/all_hikes'">Hikes</button>
            <button type="button" class="header_button" onclick="window.location.href = '/new_hike'">Create</button>
            <button type="button" class="header_button rightElement" onclick="window.location.href = '/logout'">Logout</button></a>
            
        </div>
    </div>
    <style>
    body{
        background-image: url("{% static 'icons/background.jpg' %}");
    }
    .content{
        
    }
    </style>
    <div class="content">
                {%block content%} {%endblock%}

        <!--<nav class="sidebar" id = "sidebar1">
        <ul>
            <li><a href="#"><button type="button" class="sidebar_btn"><img class="icon"
                            src="https://gitlab.com/uploads/-/system/user/avatar/4166319/avatar.png?width=400">Профиль</button>
            </li></a>
            </a>
            <li><a href="#"><button type="button" class="sidebar_btn"><img class="icon"
                            src="https://maxcdn.icons8.com/Share/icon/p1em/Messaging/message1600.png">Сообщения</button>
            </li></a>
            <li><a href="#"><button type="button" class="sidebar_btn"><img class="icon"
                            src="https://png.pngtree.com/svg/20170420/person_1058396.png">Люди</button></li></a>
            <li><a href="#"><button type="button" class="sidebar_btn"><img class="icon"
                            src="http://icons.iconarchive.com/icons/icons8/windows-8/512/Very-Basic-Document-icon.png">Посты</button>
            </li></a>
        </ul>


    </nav>

    <div class="footer">FOOTER</div>-->
    </div>
</body>

</html>