{% extends 'base.html' %}
{% block content %}
{% load static %}

<body>

	{% for message in content %}
	<p> {{message.author}} </p>
	<p> {{message.text}} </p>
	<p> {{message.creation_datetime}} </p>
	{% endfor %}


	<form method="POST">
		{%csrf_token%}
		<div class="card-title"><span><input type="text" class="form-control" name="text" placeholder=""
			style="font-size: 15px;" required=""></span>
</div>
		<input type="submit" class="form-control btn btn-secondary" value="Отправить" >
	  </form>

</body>

{% endblock %}