{% extends 'base.html' %}
{% block content %}
{% load static %}

<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.38.0/mapbox-gl.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.38.0/mapbox-gl.css' rel='stylesheet' />
<link href="{% static 'css/editor.css' %}" rel='stylesheet' />

<script src="http://www.openlayers.org/api/OpenLayers.js"></script>
<script src="https://cdn.ckeditor.com/ckeditor5/15.0.0/classic/ckeditor.js"></script>
<script src="{% static 'js/editor.js' %}"></script>
<script src="{% static 'js/my_account.js' %}"></script>
<script>
    function del_without_replacing() {
        button = document.createElement("button");
        button.type = "button";
        button.className = "upload-btn";
        button.value = "Удалить";
        button.innerText = "Удалить";
        //button.style.height = "30px";
        //button.style.width = "50px";
        button.onclick = function a() {
            hidden_field = document.createElement("input");
            hidden_field.type = "hidden";
            hidden_field.name = "delete_photo";
            hidden_field.value = "0";
            document.getElementById("myimg").src = "{% static 'icons/default.jpg' %}";
            byId('hidden_fields').appendChild(hidden_field);
            del_avatar_button();
        }
        document.getElementById("del_button").appendChild(button);
    }

    function delete_avatar() {
        document.getElementById("myimg").src = "{% static 'icons/default.jpg' %}";
        clearInputFile(document.getElementById("myfile"));
        del_avatar_button();
        // 
    }
</script>

<form method="POST" enctype="multipart/form-data">
    {%csrf_token%}

    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
                aria-selected="true">Базовые параметры</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
                aria-selected="false">Участники</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact"
                aria-selected="false">Карта</a>
        </li>
    </ul>

    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <!--БЛОК БАЗОВЫХ ПАРАМЕТРОВ-->
            <br>
            <div class="col-md" id="custom-file-input">
                <input type="file" class="file-upload" name="image" style="display: none;" id="myfile"
                    accept=".jpg, .jpeg, .png">
            </div>
            <table class="form-row" style="padding-left: 1%;">
                <tr class="col">
                    <td class="img-container" style="padding: 0px;margin:0px;width: 350px;">
                        <div class="row" style="padding: 0px;margin:0px;width: 350px;">
                            {% if image == '' %}
                            <img src="{% static 'icons/default.jpg' %}" id="myimg" class="avatar"
                                default="Фото не выбрано" style="width: 350px;"></img>
                            {% else %}
                            <img src="{{ image.url }}" id="myimg" class="avatar" default="Фото не выбрано"
                                style="width: 350px;height: auto;"></img>
                            {% endif %}
                        </div>
                        <div class="row" style="padding: 0px; margin: 0px;">
                            <div class="col-sm" id="custom-file-input" style="padding: 0px;width: 350px;">
                                <label type="button" for="myfile" class="upload-btn"
                                    style="display: block;text-align: center;width: 100%;">Загрузить
                                </label>
                            </div>
                            <div class="col-sm" id="del_button" style="padding: 0px;">
                                <!-- Сюда добавляется кнопка удаления -->

                                {% if image.name != '' %}
                                <script>
                                    del_without_replacing();
                                </script>
                                {% endif %}

                            </div>
                        </div>
                        <script src="{% static 'js/upload_photo.js' %}"></script>
                        </script>
                    </td>


                    <td style="float: left;min-width: 70%;width: 600px;margin-left: 5%;">
                        <table class="col-bg">
                            <tr class="row" style="width: 20%;">
                                <label for="exampleFormControlInput1">Название</label>
                                <input type="text" class="form-control" name="name" placeholder=" "
                                    style="width: 65%;font-size: 18px;" value="{{name}}">
                            </tr>

                            <tr class="row" style="width: 70%;">
                                <label for="exampleFormControlInput1">Краткое описание</label>
                                <span>
                                    <textarea id="sh_desc" class="form-control" name="short_description"
                                        placeholder="Пару строк о походе"
                                        style="font-size: 14px; height: 140px;">{{short_description}}</textarea>
                                </span>
                            </tr class="row">
                            <div class="row" id="hidden_fields">
                                <input type="hidden" name="landmarks" id="lm_list">
                                <!-- <input type="text" class="form-control"> -->
                            </div>
                        </table>


                        <!-- Полное имя и описание -->
                    </td>
                </tr>
            </table>
            <!--END-->

            <label for="exampleFormControlInput2">Временные рамки</label>
            <div class="form-row">
                <div class="col">
                    <input type="date" name="start" class="form-control" value={{start_date}}>
                </div>
                <div class="col">
                    <input type="date" name="end" class="form-control" value={{end_date}}>
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                    <label for="exampleFormControlInput2">Сложность</label>
                    <span>
                        <select name="difficulty" class="form-control" id="difficulty" value="II">
                            <option value="none" id="none">Без категории</option>
                            <option value="I" id="I">I</option>
                            <option value="II" id="II">II</option>
                            <option value="III" id="III_">III</option>
                            <option value="IV" id="IV">IV</option>
                            <option value="V" id="V">V</option>
                            <option value="VI" id="VI">VI</option>
                        </select>
                    </span>
                </div>
                <div class="col">
                    <label for="exampleFormControlInput2">Тип</label>
                    <span>
                        <select name="type" class="form-control" id="type_of_hike">
                            <option value="Пеший" id="wlk_type">Пеший</option>
                            <option value="Горный" id="mnt_type">Горный</option>
                            <option value="Водный" id="wtr_type">Водный</option>
                            <option value="Вело" id="bck_type">Вело</option>
                            <option value="Спелео" id="cv_type">Спелео</option>
                        </select>
                    </span>
                </div>

            </div>



            <script>
                document.getElementById("sh_desc").value = "{{short_description}}";
                document.getElementById("difficulty").value = "{{difficulty}}";
                document.getElementById("type_of_hike").value = "{{type_of_hike}}";
            </script>

            <div class="card-body">
                <div id="toolbar-container" class="edtor" style="width: 300px;"></div>
                <textarea name="description" id="editor" class="description">
                    {{description|safe}}
                </textarea>
            </div>
            <input type="submit" class="btn btn-secondary btn-block" value="Сохранить">
            <!--КОНЕЦ БЛОКА БАЗОВЫХ ПАРАМЕТРОВ-->
        </div>



        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <label for="exampleFormControlInput6">Участники</label>
            <ul class="list-inline" id="inline-userlist">

                {% for participant in participants %}
                <li class="list-inline-item" name={{participant}} id="{{participant}}">
                    <div class="card" style="width:70px; border: .6px solid rgb(221, 221, 221);">
                        <img src="{%static 'icons/logo_grey.png'%}" class="card-img-top"
                            style="width: 100%;height: 100%;"></img>
                        <span style="text-align:center">{{participant}}</span>
                        <button type="button" class="form-control" style="height:20px; border: none;"
                            onclick="del_user('{{participant}}')">-</button>
                    </div>
                </li>
                {% endfor %}
                <li class="list-inline-item" name="add-user" id="add-user">

                    <div class="card" style="width:70px; height: 110px; border: .6px solid rgb(221, 221, 221);">
                        <img src="{% static 'icons/add.png' %}" class="card-img-top" style="width: 100%;"></img>
                        <input type="text" class="forn-control" id="new-user"
                            style="width: 100%;height: 22.5px;border: none;" placeholder="Новый" value="">
                        <button type="button" class="porm-control" style="height:20px; border: none;"
                            onclick="add_user()">+</button>
                    </div>
                    <input type="hidden" id="list-usrs" name="participants" value="">
                    <script>
                        function add_user() {
                            users = document.getElementById('list-usrs');
                            // alert(users.value);
                            if (users.value == "") {

                                var users = "{{participants}}";
                                users = users.replace(/&#39;/g, '');
                                users = users.replace('[', '');
                                users = users.replace(']', '');
                                users = users.split(", ");
                                // alert('okay');

                                document.getElementById('list-usrs').value = users.toString();
                                // alert($('#list-usrs').value);
                                // alert(typeof document.getElementById('new-user').value);
                                if (document.getElementById('new-user').value != "") {
                                    // alert("!!!!")
                                    add_ptc();
                                }

                            }
                            else {
                                if (document.getElementById('new-user').value != "") {
                                    add_ptc();
                                }
                            }
                        }
                    </script>
                </li>
            </ul>
            <input type="button" class="btn btn-secondary btn-block" value="Сохранить" style="display: inline-block">
        </div>


        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">

            <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.38.0/mapbox-gl.js'></script>
            <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.38.0/mapbox-gl.css' rel='stylesheet' />

            <div id="osm_map" style="width:auto;height:500px">
                <div class="map-overlay-container" id="new_landmark" style="display: none;">
                    <div class="map-overlay">

                        <button type="button" class="btn btn-outline-secondary" style="float: right;"
                            onclick="change_mode()">x</button>
                        <h2>Создать достопримечательность</h2>


                        <label for="exampleFormControlInput1">Название</label>
                        <input type="text" class="form-control" name="lm_name" placeholder=" " style="font-size: 18px;"
                            value="" id="lm_name">


                        <label for="public_switcher">Описание</label>

                        <textarea id="lm_desc" class="form-control" name="lm_desc" placeholder=""
                            style="font-size: 14px; height: 140px;"></textarea>



                        <div class="custom-control custom-switch">
                            <input type="checkbox" name="is_public" class="custom-control-input" id="lm_is_public"
                                checked>
                            <label class="custom-control-label" for="lm_is_public">Видна для всех</label>
                        </div>
                    </div>
                </div>
            </div>
            <script
                src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.2/mapbox-gl-geocoder.min.js"></script>
            <link rel="stylesheet"
                href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.2/mapbox-gl-geocoder.css"
                type="text/css" />
            <script>

                mapboxgl.accessToken = 'pk.eyJ1IjoiZmFyZGVuZW5kIiwiYSI6ImNrM3Z0bmk1azBwdHgzZG9wMG02Z3V2c2IifQ._1URrmAMoYXV_IrMRJZQjg';
                var osm_map = new mapboxgl.Map({
                    container: 'osm_map',
                    style: 'mapbox://styles/mapbox/bright-v9',
                    center: [3.420253241560829, 46.124064037019906],
                    zoom: 13
                });
                var customData = {
                    features: [

                    ],
                    type: "FeatureCollection"
                };

                function forwardGeocoder(query) {
                    var matchingFeatures = [];
                    for (var i = 0; i < customData.features.length; i++) {
                        var feature = customData.features[i];
                        // handle queries with different capitalization than the source data by calling toLowerCase()
                        if (
                            feature.properties.title.toLowerCase().search(query.toLowerCase()) !== -1
                        ) {
                            // add a tree emoji as a prefix for custom data results
                            // using carmen geojson format: https://github.com/mapbox/carmen/blob/master/carmen-geojson.md
                            feature["place_name"] = "🌲 " + feature.properties.title;
                            feature["center"] = feature.geometry.coordinates;
                            feature["place_type"] = ["park"];
                            matchingFeatures.push(feature);
                        }
                    }
                    return matchingFeatures;
                }
                osm_map.addControl(
                    new MapboxGeocoder({
                        accessToken: mapboxgl.accessToken,
                        localGeocoder: forwardGeocoder,
                        zoom: 14,
                        placeholder: "Enter search e.g. Lincoln Park",
                        mapboxgl: mapboxgl
                    })
                );


                // osm_map.addControl(new mapboxgl.NavigationControl());
                // osm_map.update();

                coordinates = {{ coordinates | safe }};
                var elements = [];
                for (i = 0; i < coordinates.length; i++) {
                    var el = document.createElement('div');
                    el.id = 'marker' + i.toString();
                    el.content = coordinates[i][0];
                    el.textContent = coordinates[i][0];
                    el.className = 'marker';
                    el.style.backgroundImage = "url({% static 'icons/marker.png' %})";
                    el.x = coordinates[i][1][0];
                    el.y = coordinates[i][1][1];
                    var marker = new mapboxgl.Marker(el).setLngLat([el.x, el.y]).addTo(osm_map);

                    elements.push({
                        element: el,
                        marker: marker
                    })
                }

                elements.forEach(function (item, index) {
                    var el = item.element;
                    var marker = item.marker;
                    item.element.addEventListener('contextmenu', function () {
                        cord_del.push(Array(el.textContent, [el.x, el.y]));
                        document.getElementById("del_coords").value = cord_del;
                        marker.remove();
                    });
                });

            </script>
            Выберите день: <input type="number" , min="1" , max="99" , id="day" , value="1" />
            <button type="button" class="btn btn-outline-secondary" style="float: right;"
                onclick="change_mode()">Создать
                достопримечательность</button>

            <script>
                if ({{ coordinates | safe }} != []) {
                    var coordinates = '{{ coordinates | safe }}'
                }
            else {
                    var coordinates = []
                }
                var was_click = false
                var landmarks = [];
                var landmarks_mode = false;
                var icon = "url({% static 'icons/marker.png' %})";
                var icon_m = "url({% static 'icons/marker.png' %})";

                var icon_l = "url({% static 'icons/mountain.png' %})";
                function change_mode() {
                    if (landmarks_mode) {
                        landmarks_mode = false;
                        icon = icon_m;
                        byId("new_landmark").style.display = "none";
                    }
                    else {
                        icon = icon_l;
                        byId("new_landmark").style.display = "block";
                        landmarks_mode = true;
                    }
                }
                osm_map.on('load', function () {

                    cord_del = []

                    // byId("new_landmark").style.display = "block";

                    was_click = false
                    osm_map.on('click', function (e) {

                        var day = (document.getElementById("day").value)
                        var el = document.createElement('div');
                        el.content = day;
                        el.className = 'marker';

                        if (landmarks_mode) {
                            el.textContent = "";
                            if (byId("lm_name").value != "") {
                                el.style.backgroundImage = icon;
                                arr_of_data = [e.lngLat.toArray(), byId("lm_name").value, byId("lm_desc").value, byId("lm_is_public").value];
                                landmarks.push(arr_of_data);
                                byId('lm_list').value = JSON.stringify(landmarks);
                                byId('lm_name').value = "";
                                byId('lm_desc').value = "";
                                change_mode();
                            }
                            else {
                                alert("Пожалуйста, сначала введите название достопримечательности")
                            }
                        }
                        else {
                            was_click = true
                            el.textContent = day;
                            el.style.backgroundImage = icon;
                            coordinates.push(Array(Number(day), e.lngLat.toArray()));
                            document.getElementById("coords").value = coordinates;
                        }

                        var marker = new mapboxgl.Marker(el, { offset: { x: -30, y: -35 } })
                            .setLngLat(e.lngLat.wrap())
                            .addTo(osm_map);
                        // coordinates.push(Array(Number(day), e.lngLat.toArray()))
                        el.addEventListener('contextmenu', function () {
                            cord_del.push(Array(el.textContent, e.lngLat.toArray()));
                            document.getElementById("del_coords").value = cord_del;
                            marker.remove();

                        });

                    });



                    // ДОСТОПРИМЕЧАТЕЛЬНОСТИ
                    osm_map.addLayer({
                        id: "places",
                        type: "symbol",
                        source: {
                            type: "geojson",
                            data: {
                                type: "FeatureCollection",
                                features: [
                                    // {% for lk in landmarks %}
                                    {
                                        type: "Feature",
                                        properties: {
                                            description:
                                                '<strong>{{lk.name}}</strong><p>{{lk.description}}</p>',
                                            icon: "mountain"
                                        },
                                        geometry: {
                                            type: "Point",
                                            coordinates: ["{{ lk.longitude }}", "{{ lk.latitude }}"]
                                        }
                                    },
                                    // {% endfor %}

                                ]
                            }
                        },
                        layout: {
                            "icon-image": "{icon}-15",
                            "icon-allow-overlap": true
                        }
                    });


                    osm_map.on("click", "places", function (e) {
                        var coordinates = e.features[0].geometry.coordinates.slice();
                        var description = e.features[0].properties.description;

                        // Ensure that if the map is zoomed out such that multiple
                        // copies of the feature are visible, the popup appears
                        // over the copy being pointed to.
                        while (Math.abs(e.lngLat.lng - coordinates[0]) > 180) {
                            coordinates[0] += e.lngLat.lng > coordinates[0] ? 360 : -360;
                        }

                        new mapboxgl.Popup()
                            .setLngLat(coordinates)
                            .setHTML(description)
                            .addTo(osm_map);
                    });

                    // Change the cursor to a pointer when the mouse is over the places layer.
                    osm_map.on("mouseenter", "places", function () {
                        osm_map.getCanvas().style.cursor = "pointer";
                    });

                    // Change it back to a pointer when it leaves.
                    osm_map.on("mouseleave", "places", function () {
                        osm_map.getCanvas().style.cursor = "";
                    });

                });
                function save_markers() {
                    if (was_click != true) {
                        var coordinates = '{{ coordinates | safe  }}'

                        document.getElementById("coords").value = coordinates;
                        document.getElementById("del_coords").value = cord_del;
                    }
                }

            </script>

            <input name="coordinates" id="coords" type="hidden">
            <input name="cord_del" id="del_coords" type="hidden">
            <input type="submit" class="btn btn-secondary btn-block" onclick="save_markers()" value="Сохранить"
                style="display: inline-block">



            <!--END OF CODE -->
        </div>
    </div>
    </div>
    </div>
    <script>
        $(function () {
            $('#myTab li:last-child a').tab('show')
        })
    </script>
    <div class="panel-group">


</form>

<br>


<script src="{% static '/js/editor.js' %}" type="text/javascript"></script>




<script>
    function add_user() {
        users = document.getElementById('list-usrs');
        // alert(users.value);
        if (users.value == "") {
            document.getElementById('list-usrs').value = [].toString();
            // alert($('#list-usrs').value);
            // alert(typeof document.getElementById('new-user').value);
            if (document.getElementById('new-user').value != "") {
                // alert("!!!!")
                add_ptc();
            }
        }
        else {
            if (document.getElementById('new-user').value != "") {
                add_ptc();
            }
        }
    }
    function add_ptc() {
        list = str_to_list(document.getElementById('list-usrs').value);
        //alert(typeof(list));
        //alert(list);
        user = document.getElementById('new-user').value;
        //alert(user);
        list.push(user);
        //alert(list);
        document.getElementById('list-usrs').value = list;
        // alert(document.getElementById('list-usrs').value);

        user_card = document.createElement("li");
        user_card.className = "card";
        user_card.style = "width:70px; border: .6px solid rgb(221, 221, 221);";

        img = document.createElement("img");
        img.className = "card-img-top";
        img.style = "width: 100%;";
        img.src = "{%static 'icons/logo_grey.png'%}"

        span = document.createElement("span");
        span.style = "text-align:center";
        span.value = user;
        span.text = user;
        span.appendChild(document.createTextNode(user));
        button = document.createElement("button");
        button.className = "form-control";
        button.type = "button";
        button.onclick = function add_this_user() { del_user(user) };
        button.style = "height:20px; border: none;";
        button.innerHTML = "-";

        user_card.appendChild(img);
        user_card.appendChild(span);
        user_card.appendChild(button);

        li = document.createElement("li");
        li.className = "list-inline-item";
        li.name = user;
        li.id = user;

        li.appendChild(user_card);
        document.getElementById('inline-userlist').insertBefore(li, document.getElementById("add-user"));
    }

</script>


{% endblock %}