{% extends 'base.html' %}
{% block content %}
        <head><h2 class="h2">{{content.name}}</h2></head>
        <body>
            <p>{{content.start_date}} - {{content.end_date}}</p>
            <pre>{{content.description|safe}}</pre>
            <h2 class="h2">Достопримечательности:</h2>
            {% for name in content.landmarks.all %}
            <li>{{name}}</li>
            {% endfor %}
            <h2 class="h2">Участники:</h2>
            {% for username in content.partisipants.all %}
            <li>{{username}}</li>
            {% endfor %}
        <body>
</form>




{% endblock %}
