{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html>
  <head>

    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.38.0/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.38.0/mapbox-gl.css' rel='stylesheet' />

  </head>
  <body>
           <div id="osm_map" style="width:70%;height:70%"></div>

    <script>
      mapboxgl.accessToken = 'pk.eyJ1IjoiZmFyZGVuZW5kIiwiYSI6ImNrM3Z0bmk1azBwdHgzZG9wMG02Z3V2c2IifQ._1URrmAMoYXV_IrMRJZQjg';
      var osm_map = new mapboxgl.Map({
          container: 'osm_map',
          style: 'mapbox://styles/mapbox/bright-v9',
          center: [13.291408333333237,42.628386111111126], 
          zoom: 16 
      });
     
      osm_map.addControl(new mapboxgl.NavigationControl());
      alert("!")

      map.on('click', map, function (e) {
          alert("!")
    var el = document.createElement('div');
      el.className = 'marker';
      el.style.backgroundImage = 'url(https://i.stack.imgur.com/ZR00X.png)';
      el.style.width = '50px';
      el.style.height = '50px';

      new mapboxgl.Marker(el, {offset: [-30, -35]})
        .setLngLat(e.xy)
        .addTo(osm_map);
    });

      var el = document.createElement('div');
      el.className = 'marker';
      el.style.backgroundImage = 'url(https://i.stack.imgur.com/ZR00X.png)';
      el.style.width = '50px';
      el.style.height = '50px';

      new mapboxgl.Marker(el, {offset: [-30, -35]})
        .setLngLat([13.291408333333237,42.628386111111126])
        .addTo(osm_map);

    </script>
  </body>
</html>
{% endblock %}
