{% extends 'base.html' %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html>
  <head>

    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.38.0/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.38.0/mapbox-gl.css' rel='stylesheet' />

  </head>
  <body>
           <div id="osm_map" style="width:1200px;height:500px"></div>

    <script>

      coordinates = {{content.coordinates|safe}};
      mapboxgl.accessToken = 'pk.eyJ1IjoiZmFyZGVuZW5kIiwiYSI6ImNrM3Z0bmk1azBwdHgzZG9wMG02Z3V2c2IifQ._1URrmAMoYXV_IrMRJZQjg';
      
          if (coordinates){
          var osm_map = new mapboxgl.Map({
          container: 'osm_map',
          style: 'mapbox://styles/mapbox/bright-v9',
          center: coordinates[Math.floor(coordinates.length/2)],
          zoom: 14 
          })
          }
          else{
          var osm_map = new mapboxgl.Map({
          container: 'osm_map',
          style: 'mapbox://styles/mapbox/bright-v9',
          center: [0,0],
          zoom: 14 
          })   
          }
     
      osm_map.addControl(new mapboxgl.NavigationControl());

      



    </script>
    <script type="text/javascript">
    coordinates = {{content.coordinates|safe}};
 
      for (i = 0; i < coordinates.length; i++) {
      var el = document.createElement('div');
      el.content='1';
      el.textContent = '1';
      el.className = 'marker';
       el.style.backgroundImage = 'url(https://i.stack.imgur.com/ZR00X.png)';
      // el.style.width = '50px';
      // el.style.height = '50px';
      var x = coordinates[i][0];
      var y = coordinates[i][1];
      var marker = new mapboxgl.Marker(el, {offset: {x : -30, y : -35}}).setLngLat([x, y]).addTo(osm_map);
      }

      // var geojson = [
      //   {
      //     type: 'Feature',
      //     geometry: {
      //       type: 'Point',
      //       coordinates: [-77.031952, 38.913184]
      //     },
      //     properties: {
      //       'marker-color': '#3bb2d0',
      //       'marker-size': 'large',
      //       'marker-symbol': 'rocket'
      //     }
      //   },
      //   {
      //     type: 'Feature',
      //     geometry: {
      //       type: 'Point',
      //       coordinates: [-122.413682, 37.775408]
      //     },
      //     properties: {
      //       'marker-color': '#3bb2d0',
      //       'marker-size': 'large',
      //       'marker-symbol': 'rocket'
      //     }
      //   }
      // ];

      // geojson.features.forEach(function(marker) {

      //   // create a HTML element for each feature
      //   var el = document.createElement('div');
      //   el.className = 'marker';

      //   // make a marker for each feature and add to the map
      //   new mapboxgl.Marker(el)
      //     .setLngLat(marker.geometry.coordinates)
      //     .addTo(osm_map);
      //   });

      //var myLayer = L.mapbox.featureLayer().setGeoJSON(geojson).addTo(osm_map);

      osm_map.on('load', function () {
 
        osm_map.addLayer({
      "id": "route",
      "type": "line",
      "source": {
      "type": "geojson",
      "data": {
      "type": "Feature",
      "properties": {},
      "geometry": {
      "type": "LineString",
      "coordinates": coordinates
      }
      }
      },
      "layout": {
      "line-join": "round",
      "line-cap": "round"
      },
      "paint": {
      "line-color": "#888",
      "line-width": 5
      }
      });
      });

    </script>


    <script>

    osm_map.on('click', function (e) {
        var el = document.createElement('div');
      el.className = 'marker';
      el.style.backgroundImage = 'url(https://i.stack.imgur.com/ZR00X.png)';
      el.style.width = '50px';
      el.style.height = '50px';
      
      var marker = new mapboxgl.Marker(el, {offset: {x : -30, y : -35}})
        .setLngLat(e.lngLat.wrap())
        .addTo(osm_map);
      alert(e.lngLat.wrap())
      });
    </script>
  </body>
</html>
{% endblock %}