{% extends 'base.html' %}
{% block content %}
{% load static %}

<link href="{% static 'css/my_account.css'%}" rel="stylesheet">
<script>
    function del_without_replacing() {
        button = document.createElement("button");
        button.type = "button";
        button.className = "upload-btn";
        button.value = "Удалить";
        button.innerText = "Удалить";
        //button.style.height = "30px";
        //button.style.width = "50px";
        button.onclick = function a() {
            hidden_field = document.createElement("input");
            hidden_field.type = "hidden";
            hidden_field.name = "delete_photo";
            hidden_field.value = "0";
            document.getElementById("myimg").src = "{% static 'icons/logo_grey.png' %}";
            byId('hidden_fields').appendChild(hidden_field);
            del_avatar_button();
        }
        document.getElementById("del_button").appendChild(button);
    }

    function delete_avatar() {
        document.getElementById("myimg").src = "{% static 'icons/logo_grey.png' %}";
        clearInputFile(document.getElementById("myfile"));
        del_avatar_button();
        // 
    }
</script>
<script src="{% static 'js/my_account.js'%}"></script>
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="col-md" id="custom-file-input">
        <input type="file" class="file-upload" name="image" style="display: none;" id="myfile"
            accept=".jpg, .jpeg, .png">
    </div>
    <!-- <h2 style="border-top: 1px solid rgb(199, 199, 199);">Профиль</h2> -->
    <table class="form-row">
        <tr class="col">
            <!-- style="width: 250px;"> -->
            <td class="img-container" style="padding: 0px;width: 250px;">

                <div class="row">
                    {% if profile.avatar.name == '' %}
                    <img src="{% static 'icons/logo_grey.png' %}" id="myimg" class="avatar"
                        default="Фото не выбрано"></img>
                    {% else %}
                    <img src="{{profile.avatar.url}}" id="myimg" class="avatar" default="Фото не выбрано"></img>
                    {% endif %}
                </div>
                <div class="row" style="padding: 0px;width: 250px;">
                    <div class="col-sm" id="custom-file-input" style="padding: 0px;width: 250px;">
                        <label type="button" for="myfile" class="upload-btn"
                            style="display: block;text-align: center;width: 100%;">Загрузить
                        </label>
                    </div>
                    <div class="col-sm" id="del_button" style="padding: 0px;">
                        <!-- Сюда добавляется кнопка удаления -->

                        {% if profile.avatar.name != '' %}

                        <script>
                            del_without_replacing();
                        </script>
                        {% endif %}

                    </div>
                </div>
                <script src="{% static 'js/upload_photo.js' %}"></script>
                </script>
            </td>


            <td style="float: left;min-width: 70%;width: 600px;">
                <table class="col-bg">
                    <tr class="row" style="width: 20%;">
                        <label for="exampleFormControlInput1">Фамилия</label>
                        <input type="text" class="form-control" name="last_name" placeholder=" "
                            style="width: 45%;font-size: 18px;" value="{{user.last_name}}">
                    </tr>
                    <tr class="row" style="width: 20%;">
                        <label for="exampleFormControlInput1">Имя</label>
                        <input type="text" required="" class="form-control" name="first_name" placeholder=" "
                            style="width: 45%;font-size: 18px;" value="{{user.first_name}}">
                    </tr>
                    <tr class="row" style="width: 70%;">
                        <label for="exampleFormControlInput1">О себе</label>
                        <span>
                            <textarea class="form-control" name="about" placeholder=""
                                style="font-size: 14px; height: 140px;">{{profile.about}}</textarea>
                        </span>
                    </tr class="row" style="width: 20%;">
                    <div class="row" id="hidden_fields">

                        <!-- <input type="text" class="form-control"> -->
                    </div>
                </table>


                <!-- Полное имя и описание -->
            </td>
        </tr>
    </table>


    <label for="contacts">Контакты</label>
    <div id="contacts" style="width: 65%;">
        <div class="row" name="day" id="contact_1">
            <div class="col-sm" id="contact_name_1">
                <select class="form-control" name="contact_name_1" style="height: 40px;font-size: 14px;">
                    <option value="email">Email</option>
                    <option value="phone">Телефон</option>
                    <option value="telegram">Telegram</option>
                    <option value="other" onclick="other_contact_type(this.parentNode.parentNode.parentNode.id)">Другое
                    </option>
                </select>
            </div>

            <div class="col-sm">
                <input type="text" id="contact_value_1" class="form-control" name="contact_value_1"
                    style="height: 40px;font-size: 14px;">
            </div>
            <div class="col-sm">
                <select name="contact_visibility_1" class="form-control" style="height: 40px;font-size: 14px;">
                    <option value="noone">Виден только мне</option>
                    <option value="all">Виден всем</option>
                    <option value="friends">Виден друзьям</option>
                </select>
            </div>
            <div class="col-sm-1">
                <button type="button" class="form-control" style="height: 40px;font-size: 14px;"
                    onclick="del_contact_field(this.parentNode.parentNode.id)">-</button>
            </div>
        </div>
    </div>
    <br>
    <input type="button" class="form-control" value="+" onclick="add_contact_field()" value=""
        style="height: 40px;font-size: 14px; width: 65%;">
    <br>
    <h2 style="border-top: 1px solid rgb(199, 199, 199);">Приватность</h2>
    <label for="exampleFormControlInput1">Кто может отправлять Вам запросы на участие</label>
    <select class="form-control select" name="request" style="height: 40px;font-size: 14px;" id="request">
        <option value="noone">Никто</option>
        <option value="friends">Друзья</option>
        <option value="all">Все</option>
    </select>
    <label for="exampleFormControlInput1">Кто может добавлять Вас в походы</label>
    <select class="form-control select" name="add_to_ptc" style="height: 40px;font-size: 14px;" id="add_to_ptc">
        <option value="noone">Никто</option>
        <option value="friends">Друзья</option>
        <option value="all">Все</option>
    </select>
    <label for="exampleFormControlInput1">Кто видит Ваши походы</label>
    <select class="form-control select" name="can_see_hikes" style="height: 40px;font-size: 14px;" id="can_see_hikes">
        <option value="noone">Никто</option>
        <option value="friends">Друзья</option>
        <option value="all">Все</option>
    </select>
    <script>
        byId('request').value = "{{profile.request_for_participation}}";
        byId('add_to_ptc').value = "{{profile.add_to_participation}}";
        byId('can_see_hikes').value = "{{profile.see_hikes}}";
    </script>
    <!-- <input type="text" class="form-control" name="first_name" placeholder=" "
    style="width: 45%;font-size: 18px;"> -->
    <div class="col-sm-2">


    </div>
    <br>
    <input type="submit" class="form-control btn btn-secondary" value="Сохранить">
</form>

{% endblock %}