{% extends 'base.html' %}
{% block content %}
{% load static %}
<!-- <link href="{% static 'libs/cropperjs-master/dist/cropper.min.css'%}" rel="stylesheet">
<script src="{% static 'libs/cropperjs-master/dist/cropper.min.js'%}"></script> -->

<!-- <script src="{% static 'js/new_hike.js' %}"></script> -->

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="{% static 'libs/modules/bootstrap/js/bootstrap.min.js' %}"></script>

<script src="http://www.openlayers.org/api/OpenLayers.js"></script>
<script src="https://cdn.ckeditor.com/ckeditor5/15.0.0/classic/ckeditor.js"></script>
<script src="{%static 'libs/modules/cropper/js/jquery.Jcrop.min.js'%}"></script>
<script src="{%static 'libs/modules/cropper/css/jquery.Jcrop.css'%}"></script>
<script src="{% static 'js/editor.js' %}"></script>
<script src="{% static 'js/new_hike.js' %}"></script>
<!-- <link href="{% static 'css/new_hike.css'%}" rel="stylesheet"> -->
<div class="card" style="width:50%; border: 1px solid rgb(221, 221, 221); margin: auto;border-radius: 0px;">
    <form method="POST" enctype="multipart/form-data">
        {%csrf_token%}

        <img src="{% static 'icons/default.jpg' %}" id="target" class="card-img-top"></img>
        <input type="file" id="id_file" name="image" class="form-control">
        <div class="card-body">
            <br>


            <label for="exampleFormControlInput1">Название похода</label>
            <div class="card-title"><span><input type="text" class="form-control" name="name" placeholder=" "></span>
            </div>
            <label for="exampleFormControlInput1">Краткое описание</label>
            <span>
                <textarea class="form-control" name="short_description" placeholder="Пару строк о походе"></textarea>
            </span>
            <label for="exampleFormControlInput2">Временные рамки</label>
            <div class="form-row">
                <div class="col">
                    <input type="date" name="start" class="form-control">
                </div>
                <div class="col">
                    <input type="date" name="end" class="form-control">
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                    <label for="exampleFormControlInput2">Сложность</label>
                    <span>
                        <select name="difficulty" class="form-control">
                            <option value="none">Без категории</option>
                            <option value="I">I</option>
                            <option value="II">II</option>
                            <option value="III">III</option>
                            <option value="IV">IV</option>
                            <option value="V">V</option>
                            <option value="VI">VI</option>
                        </select>
                    </span>
                </div>
                <div class="col">
                    <label for="exampleFormControlInput2">Тип</label>
                    <span>
                        <select name="type" class="form-control">
                            <option value="Пеший">Пеший</option>
                            <option value="Горный">Горный</option>
                            <option value="Водный">Водный</option>
                            <option value="Вело">Вело</option>
                            <option value="Спелео">Спелео</option>
                        </select>
                    </span>
                </div>

            </div>
            <input type="hidden" id="list-usrs" name="participants" value="">
            <label for="exampleFormControlInput6">Участники</label>
            <ul class="list-inline" id="inline-userlist">

                <li class="list-inline-item" name="add-user" id="add-user">

                    <div class="card" style="width:70px; height: 110px; border: .6px solid rgb(221, 221, 221);">
                        <img src="{% static 'icons/add-new.png' %}" class="card-img-top" style="width: 100%;"></img>
                        <input type="text" class="forn-control" id="new-user"
                            style="width: 100%;height: 22.5px;border: none;" placeholder="Новый" value="">
                        <button type="button" class="for-control" style="height:20px; border: none;"
                            onclick="add_user()">+</button>
                    </div>
                </li>
            </ul>
        </div>
        <input type="submit" class="btn btn-secondary btn-block" value="Создать">
</div>
</form>
<script>
    function add_user() {
        users = document.getElementById('list-usrs');
        // alert(users.value);
        if (users.value == "") {

            document.getElementById('list-usrs').value = [].toString();
            // alert($('#list-usrs').value);
            // alert(typeof document.getElementById('new-user').value);
            if (document.getElementById('new-user').value != "") {
                // alert("!!!!")
                add_ptc();
            }

        }
        else {
            if (document.getElementById('new-user').value != "") {
                add_ptc();
            }
        }
    }
</script>
</div>

{% endblock %}