{% extends 'base.html' %}
{% block content %}
{% load static %}
<!-- <link href="{% static 'libs/cropperjs-master/dist/cropper.min.css'%}" rel="stylesheet">
<script src="{% static 'libs/cropperjs-master/dist/cropper.min.js'%}"></script> -->

<!-- <script src="{% static 'js/new_hike.js' %}"></script> -->
<link href="{% static 'css/new_hike.css'%}" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="{% static 'libs/modules/bootstrap/js/bootstrap.min.js' %}"></script>

<script src="http://www.openlayers.org/api/OpenLayers.js"></script>
<script src="https://cdn.ckeditor.com/ckeditor5/15.0.0/classic/ckeditor.js"></script>
<!-- <script href="{% static 'libs/ckeditor/ckeditor.js' %}"></script> -->
<!-- 
<div id="banner-message">
            <img src="" id="myimg" width=300><br>
            <input type="file"  id="myfile">
        </div>-->

<div class="card" style="width:50%; border: 1px solid rgb(221, 221, 221); margin: auto;border-radius: 0px;">
    <form method="POST" enctype="multipart/form-data">
        {%csrf_token%}

        <!-- <input type="file" class="form-control-file" id="exampleFormControlFile1"> -->
        <div class="img-container">

            <img src="{% static 'icons/default.jpg' %}" id = "myimg" class="card-img-top" default="Фото не выбрано"></img>

            <!-- <i class="fas fa-camera upload"></i> -->
            <div class="card-body">
                <div class="custom-file" >
                    <input type="file" name="image" id="myfile" accept=".jpg, .jpeg, .png">
                </div>
                <br><br>
                <script src="{% static 'js/new_hike.js' %}"></script>
                <!--  <td rowspan="2" width="2" id="upload_photo"><i class="fas fa-camera upload"></i></td> -->
                <label for="exampleFormControlInput1">Название похода</label>
                <div class="card-title"><span><input type="text" class="form-control" name="name"
                            placeholder=" "></span>
                </div>
                <label for="exampleFormControlInput1">Краткое описание</label>
                <span>
                    <textarea class="form-control" name="short_description" placeholder="Пару строк о походе">
                </textarea>
                </span>
                <label for="exampleFormControlInput2">Временные рамки</label>
                <div class="form-row">
                    <div class="col">
                        <input type="date" name="start" class="form-control">
                    </div>
                    <div class="col">
                        <input type="date" name="end" class="form-control">
                    </div>
                </div>
                <div class="form-row">
                    <div class="col">
                        <label for="exampleFormControlInput2">Сложность</label>
                        <span>
                            <select name="difficulty" class="form-control">
                                <option value="none">Без категории</option>
                                <option value="I">I</option>
                                <option value="II">II</option>
                                <option value="III">III</option>
                                <option value="IV">IV</option>
                                <option value="V">V</option>
                                <option value="VI">VI</option>
                            </select>
                        </span>
                    </div>
                    <div class="col">
                        <label for="exampleFormControlInput2">Тип</label>
                        <span>
                            <select name="type" class="form-control">
                                <option value="Пеший">Пеший</option>
                                <option value="Горный">Горный</option>
                                <option value="Водный">Водный</option>
                                <option value="Вело">Вело</option>
                                <option value="Спелео">Спелео</option>
                            </select>
                        </span>
                    </div>

                </div>
                <label for="exampleFormControlInput6">Участники</label>
                <input id="participants" type="text" class="form-control" name="participants"
                    placeholder="Введите никнеймы через запятую" onkeypress="format_names()">
                <br>
                <input type="submit" class="btn btn-secondary btn-block" value="Создать">
            </div>
    </form>
</div>

{% endblock %}