.description, .editor {
    width: 70%;
    height: 50%;
    padding-right: 10px;
    padding-left: 10px;
}

.upload {
    background: #17212B;
    
    height: 60pt;
    width: 60pt;
    padding-top: 10pt;
    font-size: 35pt;
    border: 2px solid rgb(247, 241, 230);
    text-align: center;
    transform-origin: 0 0;
    /* transform: scaleY(1.2); */
}

input ::placeholder{
    font-family: 'UniversLTCYR-67BoldCond', 'Arial', sans-serif;
    transform: uppercase;
    line-height: 1.25;
    letter-spacing: 2px;
    size: 35px;
    color: rgb(247, 241, 230);
}
table{
    background: transparent;
}
td {
    background: transparent;
    width: 30px;
    height: 40pt;
}
td .nameline{
    width:700px;
}
td .short_desc{
    width:700px;
    line-height: 1.25;
}
.name :active, :hover, :focus{
    border: 0.5px solid rgb(236, 152, 41);
    border-radius: 3px;
}
.name {
    float: left;
    font-family: 'UniversLTCYR-67BoldCond', 'Arial', sans-serif;
    /* text-transform: uppercase; */
    line-height: 1.25;
    letter-spacing: 2px;
    height: 80%;
    color: rgb(247, 241, 230);

    padding: 10px;
    font-size: 1.3em;
    width: 100%;
}