.ck-editor__editable_inline {
    min-height: 400px;
}

.mapboxgl-map {
    padding: 15px;
}

td {
    overflow: hidden;
}

#myimg {
    width: 350px;
    height: auto;
    border: 1px solid grey;
    border-radius: 2px;
    background-color: rgb(241, 241, 241);
}