.upload {
    background: rgba(255, 255, 255, 0);
    

    width: 50pt;
    padding: 10pt;
    font-size: 15pt;
    border: .5px solid rgb(202, 202, 202);
    text-align: center;
    transform-origin: 0 0;
    /* transform: scaleY(1.2); */
}
.form-control{
    width: 200%;
}
/* 
.ck-content {
    height: 80%;
}

table{
    background: transparent;
}
td {
    background: transparent;
    width: 30px;
    height: 40pt;
}
td .nameline{
    width:700px;
}
td .short_desc{
    width:700px;
    line-height: 1.25;
}
td .other_props{
    width:600px;
    padding-right: 10px;
    padding-left: 10px;
}

.name :active, :hover, :focus{
    border: 0.5px solid rgb(236, 184, 41);
    border-radius: 3px;
}
.name {
    float: left;
    font-family: 'UniversLTCYR-67BoldCond', 'Arial', sans-serif;
    line-height: 1.25;
    letter-spacing: 2px;
    height: 80%;
    color: rgb(247, 241, 230);

    padding: 10px;
    font-size: 1.3em;
    width: 100%;
}
select{
    width: 200px;
    background: transparent;
    color: white;
    border: .5px solid #2B5278;
}
.ck.ck-editor__main > .ck-editor__editable{
    background: none;
}
body{
    color: #c0c0c0;
}
td :active, :hover, :focus{
    border: .5px solid rgb(252, 211, 29);
    --ck-insert-table-dropdown-box-border-color: transparent;
}
*{
    --ck-color-focus-border: rgb(236, 184, 41);
    --ck-insert-table-dropdown-box-border-color: transparent;
    --ck-insert-table-dropdown-box-border-active-color: rgb(236, 184, 41);
    --ck-insert-table-dropdown-box-active-background: transparent;
    --ck-color-table-focused-cell-background: transparent;
}
table thead tr{
    color: #000;
}
table thead tr :active, :hover, :focus{
    
} */