.avatar{
    width: 250px;
    height: 250px;
    max-width: 90%;

    border: 1px solid grey;
    border-radius: 2px;
    background-color: rgb(241, 241, 241);
}
td{
    /* padding-top: 5px !important; */
}

.select{
    width: 30%;
}