.input-group{
    height: 30px;
    
}
.custom-file-input{
    height: 50px;
}
.del_photo{
    display: none;
}
.custom-file-input{
    height: 50px;
}
.del_photo{
    display: none;
}
input.form-control {
    font-size: 12px;
}

.card-title {
    margin-bottom: none;
}

.ptcs{
    height: 140px;
    display: flex;
    overflow-x: scroll;
    overflow-y: visible;
    overflow-wrap: normal;
}

label{
    margin-top: 8px;
    margin-bottom: 0px;
    font-weight: 600;
}
label.custom-control-label{
    font-weight: 300;
}

.modal-backdrop.fade.show{
    display: none;
}