{% extends 'base.html' %}
{% block content %}
{% load static %}
<body>
<div style="width: 70%; margin: auto;">

    {% if user.username in usernames %}

    <script src="{% static 'libs/modules/ckeditor/ckeditor.js' %}"></script>

    <style>
        .ck-editor__editable_inline {
        height: 200px;
    }
        </style>


        <form method="POST">
            {% csrf_token %}

        <div class="card-body" style="padding-left: 0px;padding-right: 0px;">
            <div id="toolbar-container" class="edtor" style="width: 300px;"></div>

            <textarea id="editor" name="post_content" placeholder="Напишите что-нибудь...">
                
            </textarea>
            <script>
                ClassicEditor
                    .create(document.querySelector('#editor'), {
                    toolbar: ['heading', '|', 'bold', 'italic', 'link', '|', 'imageUpload'],
                    cloudServices: {
            tokenUrl: 'https://71936.cke-cs.com/token/dev/7KBskikVGLUfXIEblF7DhRkj3Oea9oCTstVZncUfxHKe7kQjj3E8KOcpzLAp',
            uploadUrl: 'https://71936.cke-cs.com/easyimage/upload/'
        }
                } )
                    .then(editor => {
                        console.log(editor);
                    })
                    .catch(error => {
                        console.error(error);
                    });
            </script>

        <input type="submit" class="btn btn-secondary btn-block" style="float: right; margin-top: 20px; width: 150px; background: #72319f" value="Сохранить"></input>

        </form>
        

    </div>


    {% endif %}

    {% if all_posts %}


    <div style="padding-top: 50px">
        <hr>
        {% for post in all_posts %}

        <div class="card post_card">

            <div class="row">
                
                <div class="col-1"><a href="/account/{{ post.author_username }}">
                    {% if post.avatar != '' %}
                    <img src='{{ post.avatar }}' width="60" class='creator_icon user_icon_small' alt="{% static 'icons/default_user.png' %}">
                    {% else %}
                    <img src="{% static 'icons/default_user.png' %}" width="60" class='creator_icon user_icon_small' alt="Responsive image">
                    {% endif %}
                </div></a>
                <div class="col-9">
                    <a href="/account/{{ post.author_username }}">
                    <p class='user_full_name' style="display: inline;
                        line-height: 2em;
                        font-weight: 800;
                        letter-spacing: 0.084em;
                        font-size: 14px;
                        padding-top: 2px;">{{ post.author_fullname }}</p>
                        </a>
                    <br>
                    <p style="font-family: Roboto;font-style: normal;">Поход: <a href = /hike/{{post.hike}} style="color:  #72319f; text-decoration: underline">{{post.hike_name}}</a></p>    
                </div>
                <div class="col-2">
                    <div>
                        <small style="color: gray;float: right;">{{ post.time_published }}</small>
                    </div>
                </div>
            </div>

            <a href = {{post.link}}>

            
            <div style="word-wrap: break-word;     
            max-height: 200px; max-width: 100%; overflow: hidden;">
                {{post.content|safe}}

            
            </div>    
            
 
        </div>
    </a>

        <hr>

        {% endfor %}

    </div>


    {% else %}

    {% if user.username not in usernames %}

    <h2 style = "color: gray; position: relative;
    left: 35%;
  ">Здесь пока ничего нет...</h2>

    {% endif %}

    {% endif %}


</body>
{% endblock %}