{% extends 'base.html' %}
{% block content %}
{% load static %}

<link href="{% static 'css/account.css'%}" rel="stylesheet">
<script>
    function del_without_replacing() {
        button = document.createElement("button");
        button.type = "button";
        button.className = "upload-btn";
        button.value = "Удалить";
        button.innerText = "Удалить";
        //button.style.height = "30px";
        //button.style.width = "50px";
        button.onclick = function a() {
            hidden_field = document.createElement("input");
            hidden_field.type = "hidden";
            hidden_field.name = "delete_photo";
            hidden_field.value = "0";
            document.getElementById("myimg").src = "{% static 'icons/default_user.png' %}";
            byId('hidden_fields').appendChild(hidden_field);
            del_avatar_button();
        }
        document.getElementById("del_button").appendChild(button);
    }

    function delete_avatar() {
        document.getElementById("myimg").src = "{% static 'icons/default_user.png' %}";
        clearInputFile(document.getElementById("myfile"));
        del_avatar_button();
        // 
    }
</script>
<script src="{% static 'js/my_account.js'%}"></script>
<div style="width: 70%; margin: auto;">
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="col-md" id="custom-file-input">
        <input type="file" class="file-upload" name="image" style="display: none;" id="myfile"
            accept=".jpg, .jpeg, .png">
    </div>
    <!-- <h2 style="border-top: 1px solid rgb(199, 199, 199);">Профиль</h2> -->
    <table class="form-row">
        <tr class="col">
            <!-- style="width: 250px;"> -->
            <td class="img-container" style="padding: 20px;width: 250px;">

                <div class="row">
                    {% if image == '' %}
                    <img src="{% static 'icons/default_user.png' %}" width="250" id="myimg" class="avatar"
                        default="Фото не выбрано"></img>
                    {% else %}
                    <img src="{{image}}" width="250" id="myimg" class="avatar" default="Фото не выбрано"></img>
                    {% endif %}
                </div>

                <script src="{% static 'js/upload_photo.js' %}"></script>
                </script>
            </td>


            <td style="float: left; margin-left: 20px; min-width: 70%;width: 600px;">
                <table class="col-bg">
                    <div>
                        <h2 class="h2" style = "margin-top: 40px">{{user.first_name}} {{user.last_name}}</h2>
                    </div>
                    <div>
                        <h4>Никнейм: {{user.username}}</h4>
                    </div>
                    <div>
                        {% if profile.about %}
                            {{profile.about}}
                        {% endif %}
                    </div>
                </table>


                <!-- Полное имя и описание -->
            </td>
        </tr>
    </table>

    {%if user == cur_user %}
    <a href="/account_editor/"><button type="button" class="btn btn-secondary btn-block" style="width: 150px; background: #72319f">
        Изменить</button></a>

    {% endif %}
    {% if contacts %}
    <h4 style = "margin-top: 20px">Контакты:</h4>
    {% for contact in contacts %}
        
        <p style = "margin-bottom: -5px">{{contact.name}}: {{contact.value}}</p>
    
    {% endfor %}
    {% endif %}




</form>



  <div class="posts" style="padding-top: 50px" id='posts_list'>
    <hr style="padding-bottom: 20px">
    {% for post in users_posts %}

    <div class="card post_card">

        <div class="row">
            <div class="col-1">
                <a href="/account/{{ post.author_username }}">
                {% if post.avatar != '' %}
                <img src='{{ post.avatar }}' width="60" class='creator_icon user_icon_small' alt="{% static 'icons/default_user.png' %}">
                {% else %}
                <img src="{% static 'icons/default_user.png' %}" width="60" class='creator_icon user_icon_small' alt="Responsive image">
                {% endif %}
                </a>
            </div>
            <div class="col-9">
                <a href="/account/{{ post.author_username }}">
                <p class='user_full_name' style="display: inline;
                    line-height: 2em;
                    font-weight: 800;
                    letter-spacing: 0.084em;
                    font-size: 14px;
                    padding-top: 2px;">{{ post.author_fullname }}</p>
                <br>
                <p style="font-family: Roboto;font-style: normal;">Поход: <a href = /hike/{{post.hike}} style="color:  #72319f; text-decoration: underline">{{post.hike_name}}</a></p>
                </a>       
            </div>
            <div class="col-2">
                <div>
                    <small style="color: gray;float: right;">{{ post.time_published }}</small>
                </div>
            </div>
        </div>

        <div style="font-family: Roboto;font-style: normal;font-weight: normal;font-size: 24px;line-height: 36px; word-wrap: break-word;">
            {{post.content|safe}}
        </div>
    
    </div>

    <hr>

    {% endfor %}
</div>
</div>



{% endblock %}