<!DOCTYPE html>

<html>

<head>
    {% load static %} {%csrf_token%}

    <!-- TITLE AND PROPERTIES -->
    {% if title != 'none' %}
    <title>FF: {{ title }}</title>
    {% else %}
    <title>FreeFall</title>
    {% endif %}


    <script src="{% static 'js/my_functions.js' %}"></script>
    <!-- META CLASSES -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- STYLES -->
    <!-- <link rel="stylesheet" href="{% static '/styles/bootstrap.css' %}"> -->
    <link rel="stylesheet" href="{% static '/libs/modules/bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/baseStyle.css' %}">
    <link rel="stylesheet" href="{% static 'css/map.css' %}">
    <link rel="shortcut icon" href="{% static 'icons/favicon.ico' %}">
    <!-- <link rel="stylesheet" href="{% static 'libs/modules/widgets/widgets.min.css' %}"> -->

    <!-- SCRIPTS -->
    <script src="{% static 'libs/modules/jquery/jquery.js' %}" type="text/javascript"></script>



    <!-- UNUSED AT THIS MOMENT BUT IMPORTANT IMPORTS -->

    <!-- STYLES OVERRIDE (BECAUSE OF UNABLE TO PASTE DJANGO STATIC INTO CSS) -->
    <style>
        /* body {
            background-image: url("{% static 'icons/background.jpg' %}");
        } */
    </style>

    <style>
        @font-face {
            font-family: "Roboto";
            src: url("{% static 'libs/fonts/roboto/Roboto-Regular.ttf' %}") format("truetype");
        }

        .new_header {
            font-family: "Roboto", Verdana, Tahoma;
        }
        .roboto {
            font-family: "Roboto", Verdana, Tahoma;
        }
    </style>

</head>

<body>

    <div class="wrapper">
        <!-- Sidebar -->

        <nav id="sidebar" class="active">
            <div class="sticky-top">
                <div class="sidebar-header">
                    {% if username == ''%}
                    <img src="{% static 'icons/logo_white.png' %}" class="sidebar-avatar">
                    <h3 id="sidebar-username">FreeFall</h3>

                    {% else %}
                    <a href="/my_account">
                        {% if avatar != ''%}
                        <img src="{{ avatar.url }}" class="sidebar-avatar">
                        {% else %}
                        <img src="{% static 'icons/logo_white.png' %}" class="sidebar-avatar">
                        {% endif %}
                    </a>

                    <h3 id="sidebar-username">{{username}}</h3>


                    {% endif %}
                </div>

                <ul class="list-unstyled components">
                    <!-- <p>Dummy Heading</p> -->
                    {% if username != '' %}
                    <li>
                        <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false"
                            class="dropdown-toggle first-level">Походы</a>
                        <ul class="collapse list-unstyled hikes" id="homeSubmenu">

                            {% for hike in hikes %}
                            <li class='hikes-list-elements'>
                                <a href="/hike/{{hike.1}}">{{hike.0}}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </li>

                    <!-- <li>

                        <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false"
                            class="dropdown-toggle">Группы</a>
                        <ul class="collapse list-unstyled" id="pageSubmenu">
                            <li>
                                <a href="#">Group 1</a>
                            </li>
                            <li>
                                <a href="#">Group 2</a>
                            </li>
                            <li>
                                <a href="#">Group 3</a>
                            </li>
                        </ul>
                    </li> -->
                    {% endif %}
                    <!-- <li>
                    <a href="#">Something</a>
                </li> -->
                    <li>
                        <a href="/home/" class="first-level">О сайте</a>
                    </li>
                </ul>

            </div>



        </nav>
        <script src="{% static 'libs/modules/font-awesome/font-awesome.js' %}" crossorigin="anonymous"></script>
        <!-- <link rel="stylesheet" href="{% static '/libs/modules/font-awesome/font-awesome.min.css' %}"> -->
        <!-- Page Content Holder -->
        <div id="content">

            <nav class="navbar navbar-expand-lg navbar-light bg-grey sticky-top updated-nav">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="navbar-btn active">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                    <!-- <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-align-justify"></i>
                    </button> -->
                    <!--HEADER BUTTONS-->
                    <div class="" id="navbarSupportedContent">
                        <ul class="nav navbar-nav ml-auto">
                            {% if username != ''%}

                            <!-- onclick="byId('notification_menu').style.display='none' -->

                            {% endif %}

                            {% if username != ''%}
                            <li class="nav-item active">
                                <a class="nav-link main-navbar" id='create_hike_button' href="/new_hike"><i
                                        class="fas fa-plus"></i>
                                    Добавить поход</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link main-navbar round" onclick="show_notifications()" type="button"
                                    href="#" role="button" data-toggle="dropdown" id="dropdownMenu1" data-target="#"><i
                                        class="fas fa-bell"></i><span id="nt_counter"
                                        class="badge badge-danger notifications_badge">6</span></a>
                                <!-- DROPDOWN NOTIFICATIONS MENU -->
                                <ul class="dropdown-menu dropdown-menu-right pull-right" role="menu"
                                    id="notification_menu" aria-labelledby="dropdownMenu1">


                                    <ul id="notifications" class="" style="">
                                        <pre id='no_notifications'
                                            style="display: visible;text-align: center;">Нет уведомлений</pre>

                                    </ul>

                                </ul>

                                {% if username != ''%}
                                <script>
                                    count_notifications()

                                    notification_list = eval("{{notifications|safe}}"); //

                                    var wached = [];

                                    autoupdate_notifications()
                                    count_notifications()

                                    function sleep(ms) {
                                        return new Promise(resolve => setTimeout(resolve, ms));
                                    }

                                    async function autoupdate_notifications() {
                                        while (1) {
                                            $.ajax({
                                                url: "/get_user_notifications/",
                                                type: 'POST',
                                                data: {
                                                    'wached': wached,
                                                    'result': 'check'
                                                },
                                                //DO NOT EDIT!
                                                beforeSend: function (xhr, settings) {
                                                    function getCookie(name) {
                                                        var cookieValue = null;
                                                        if (document.cookie && document.cookie != '') {
                                                            var cookies = document.cookie.split(';');
                                                            for (var i = 0; i < cookies.length; i++) {
                                                                var cookie = jQuery.trim(cookies[i]);
                                                                // Does this cookie string begin with the name we want?
                                                                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                                                                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                                                    break;
                                                                }
                                                            }
                                                        }
                                                        return cookieValue;
                                                    }
                                                    if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                                                        // Only send the token to relative URLs i.e. locally.
                                                        xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                                                    }
                                                },
                                                //EDITABLE CODE
                                                success: function a(json) {
                                                    if (json.result === "success") {
                                                        update_notifications(json.notifications);
                                                        // console.log(json.notifications);

                                                    } else {
                                                        byId(id_code).parentNode.removeChild(byId(id_code));
                                                        count_notifications();
                                                    }
                                                }
                                            });
                                            await sleep(60000);
                                        }

                                    }
                                    update_notifications(notification_list)

                                    function update_notifications(notification_list) {
                                        notification_list.forEach(notification => {

                                            id_code = notification[2] + '-' + notification[4] + '-' + notification[0]
                                            if (byId(id_code) == null) {

                                                jQuery('<li/>', {
                                                    id: id_code,
                                                    class: 'notification',
                                                    name: notification[0]
                                                }).appendTo($('#notifications'));
                                                li = byId(id_code);

                                                jQuery('<div/>', {
                                                    id: 'row_' + id_code,
                                                    class: 'row',
                                                    name: notification[0]
                                                }).appendTo($('#' + id_code));
                                                row = $('#row_' + id_code);

                                                jQuery('<div/>', {
                                                    id: 'col_for_avatar_' + id_code,
                                                    style: 'flex-grow:0',
                                                    class: 'col-sm column',
                                                    name: notification[0]
                                                }).appendTo(row);
                                                img_col = byId('col_for_avatar_' + id_code);

                                                jQuery('<div/>', {
                                                    id: 'col_for_text_' + id_code,
                                                    style: 'flex-grow:5',
                                                    class: 'col-md column',
                                                    name: notification[0]
                                                }).appendTo(row);
                                                txt_col = byId('col_for_text_' + id_code);

                                                img = document.createElement('img');
                                                img.className = "notification-icon";

                                                if (notification[5] != '') {
                                                    img.src = 'data:image/gif;base64,' + notification[5];
                                                } else {
                                                    img.src = "{%static 'icons/logo_grey.png'%}";
                                                }
                                                img_col.appendChild(img);

                                                if (notification[0] === 'invite_to_hike') {
                                                    text = document.createTextNode(notification[1] + " приглашает вас в поход ");
                                                } else if (notification[0] === 'request_for_ptc') {
                                                    text = document.createTextNode(notification[1] + " подал запрос на вступление в группу похода ");
                                                } else if (notification[0] === 'user_added_to_hike') {
                                                    text = document.createTextNode(notification[1] + " вступил в Ваш поход ");
                                                }

                                                txt_col.appendChild(text);

                                                a = document.createElement('a');
                                                a.innerText = notification[3];
                                                a.href = "/hike/" + notification[4];
                                                txt_col.appendChild(a);

                                                span = document.createElement('span');


                                                li.appendChild(span);

                                                button_agree = document.createElement('button');
                                                button_agree.className = "btn btn btn-outline-primary"

                                                button_disagree = document.createElement('button');
                                                button_disagree.className = "btn btn btn-outline-danger"
                                                $('<br>').appendTo(txt_col);
                                                if (notification[0] === 'invite_to_hike') {
                                                    button_agree.innerText = "Вступить";
                                                    button_disagree.innerText = "Отказаться";
                                                    txt_col.appendChild(button_agree);
                                                    txt_col.appendChild(button_disagree);
                                                } else if (notification[0] === 'request_for_ptc') {
                                                    button_agree.innerText = "Добавить";
                                                    button_disagree.innerText = "Скрыть";
                                                    txt_col.appendChild(button_agree);
                                                    txt_col.appendChild(button_disagree);
                                                } else if (notification[0] === 'user_added_to_hike') {
                                                    text = document.document.createTextNode(notification[1] + " вступил в Ваш поход ");
                                                }
                                                button_agree.onclick = function () {
                                                    notification_choice_send(this.parentNode.parentNode.parentNode.id, 'agree')
                                                }
                                                button_disagree.onclick = function () {
                                                    notification_choice_send(this.parentNode.parentNode.parentNode.id, 'disagree')
                                                }

                                                time = document.createElement('span');
                                                time.className = 'notification-date';
                                                month_list = ['января', 'февраля', 'марта', 'апреля', 'мая', 'июня', 'июля', 'августа', 'сентября', 'октября', 'ноября', 'декабря']
                                                time.innerText = notification[6].substring(11, 16) + ',   ' + notification[6].substring(8, 10) + '-го ' + month_list[parseInt(notification[6].substring(5, 7)) + 1]
                                                li.appendChild(time);

                                            }
                                            count_notifications()

                                        });
                                        list_of_ids = []
                                        notification_list.forEach(notification => {
                                            id_code = notification[2] + '-' + notification[4] + '-' + notification[0];
                                            list_of_ids.push(id_code);
                                        });
                                        byId('notifications').childNodes.forEach(li => {
                                            if (list_of_ids.indexOf(li.id) === -1 && li.id != 'no_notifications') {
                                                li.parentNode.removeChild(li);
                                                count_notifications()
                                            }

                                        });
                                        count_notifications()
                                    }

                                    function notification_choice_send(id_code, result) {
                                        $.ajax({
                                            url: "/send_notification_choice/",
                                            type: 'POST',
                                            data: {
                                                'code': id_code,
                                                'result': result
                                            },
                                            //DO NOT EDIT!
                                            beforeSend: function (xhr, settings) {
                                                function getCookie(name) {
                                                    var cookieValue = null;
                                                    if (document.cookie && document.cookie != '') {
                                                        var cookies = document.cookie.split(';');
                                                        for (var i = 0; i < cookies.length; i++) {
                                                            var cookie = jQuery.trim(cookies[i]);
                                                            // Does this cookie string begin with the name we want?
                                                            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                                                                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                                                break;
                                                            }
                                                        }
                                                    }
                                                    return cookieValue;
                                                }
                                                if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                                                    // Only send the token to relative URLs i.e. locally.
                                                    xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                                                }
                                            },
                                            //EDITABLE CODE
                                            success: function a(json) {
                                                // alert(json);
                                                // alert(json.exist);
                                                if (json.result === "success") {
                                                    byId(id_code).parentNode.removeChild(byId(id_code));
                                                    count_notifications();
                                                } else {
                                                    byId(id_code).parentNode.removeChild(byId(id_code));
                                                    count_notifications();
                                                }
                                            }
                                        });
                                    }

                                    function count_notifications() {
                                        notifications_counter = byId('notifications').childNodes.length;
                                        byId('nt_counter').innerText = notifications_counter - 1;
                                        if (notifications_counter > 1) {
                                            byId('no_notifications').style.display = 'none';
                                            byId('nt_counter').style.display = 'visible';
                                            byId('nt_counter').className = "badge badge-danger";
                                            return notifications_counter;

                                        } else {
                                            byId('no_notifications').style.display = 'block';
                                            byId('nt_counter').style.display = 'none';
                                            byId('nt_counter').className = "badge badge-light";
                                            return 0;
                                        }
                                    }
                                </script>
                                {% endif %}

                                <!--END OF DROPDOWN MENU BLOCK-->
                                {% endif %}
                            </li>

                            <li class="nav-item">
                                <a class="nav-link main-navbar round" href="/"><i class="fas fa-home"></i></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link main-navbar round" href="/hike_filter"><i
                                        class="fas fa-search"></i></a>
                            </li>
                            {% if username == ''%}
                            <li class="nav-item active">
                                <a class="nav-link main-navbar round" href="/login"><i
                                        class="fas fa-sign-in-alt"></i></a>
                            </li>
                            {% else %}
                            <li class="nav-item">
                                <a class="nav-link main-navbar round" href="/logout"><i
                                        class="fas fa-sign-out-alt"></i></a>
                            </li>
                            <li class="nav-item active">
                                {% if username != ''%}
                                <a href="/my_account">
                                    {% if avatar != ''%}

                                    <img src="{{ avatar.url }}" class="navbar-avatar">
                                    {% else %}
                                    <img src="{% static 'icons/logo_grey.png' %}" class="navbar-avatar">
                                    {% endif %}
                                </a>
                                {% endif %}
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </nav>
            {% if header != 'none' %}
            <div class="page-header">
                <h1>{{ header }}</h1>
            </div>

            {% endif %}
            <div class="content">
                {%block content%} {%endblock%}
            </div>
        </div>
    </div>

    <!-- jQuery  -->
    <!-- <script src="{% static 'libs/modules/jquery/jquery.js' %}" type="text/javascript"></script> -->

    <!-- <script src="{% static 'libs/modules/bootstrap/jquery.js' %}"></script> -->
    <!-- Popper.JS -->

    <!-- Bootstrap JS -->
    <script src="{% static '/libs/modules/bootstrap/js/bootstrap.js' %}" type="text/javascript"></script>
    <script src="{% static '/js/baseScripts.js' %}" type="text/javascript"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script> -->
    <!-- <script src="{% static 'libs/modules/bootstrap-select/dist/js/bootstrap-select.min.js' %}"></script>
    <link href="{% static 'libs/modules/bootstrap-select/dist/css/bootstrap-select.min.css'%}" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>    -->


</body>

</html>