{% extends 'base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/hikes.css' %}">

<body>
    <div id="container" class="cols">
        {% for hike_row in hike %}
        {% for hike in hike_row %}

        <div class="card" style="display: inline-flex;">
            <a href="{{hike.link}}">
                {% if hike.image != '' %}
                <img class="card-img-top" src={{hike.image.url}} alt="Card image cap" style="height: auto;">
                {% else %}
                <img class="card-img-top" src="{% static 'icons/default.jpg' %}" alt="Card image cap">
                {% endif %}
                <div class="card-body">
                    <h2 class="card-title">{{hike.name}}</h2>
                    <p class="card-text"></p>Создатель: {{hike.creator.first_name}} {{hike.creator.last_name}}</p>
                    <p class="card-text">{{hike.short_description}}</p>
                    <small class="text-muted">{{hike.start_date}} - {{hike.end_date}}</small>
                </div>
            </a>
        </div>
        {% endfor %}
        {% endfor %}
    </div>
</body>
{% endblock %}