{% extends 'base.html' %} {% block content %} {% load static %}

<link rel="stylesheet" href="{% static 'css/hikes.css' %}">
<link rel="stylesheet" href="{% static 'css/hike_filter.css' %}">
<link href="{% static 'libs/modules/bootstrap-select/css/bootstrap-select.min.css'%}" rel="stylesheet">

<body>

    <div class="input-group form-group">
        <!--Поле поиска-->

        <input id="hike_name" type="text" name="hike_name" class="form-control input_text"
            placeholder="Название похода">
        <div class="input-group-append">
            <button type="button" style="background-color: indigo;color: white;border-color: #72319f;"
                class="input-group-text" onclick="find_all()">Найти</button>
        </div>
    </div>
    <div class="accordion" id="other_filters_list">
        <input type="checkbox" class="" id='filters_switch' style="padding-right: 50px;"><label class="form-check-label"
            style="padding-left: 10px;" for="filters_switch"> Включить другие фильтры</label>

        <div class="card" style="display: inline;">

            <a class='btn btn-secondary btn-block form-control' id='collapse_button' data-toggle="collapse"
                href="#other_filters" role="button" aria-expanded="true" aria-controls="other_filters">

                <p style="text-align:center;color: indigo; display: inline;">Другие фильтры</p>
            </a>

            <div class="collapse" id="other_filters">
                <div class="form-row">
                    <div class="col-sm">
                        <div class="form-row">
                            <label for="start_day">Временные рамки</label>
                        </div>
                        <div class="form-row">
                            <div class="col-sm-1">
                                От
                            </div>

                            <div class="col-sm">
                                <input type="date" name="start" class="form-control" id="start_day"
                                    onchange="setMinEndDate()">
                            </div>
                            <div class="col-sm-1">
                                до
                            </div>
                            <div class="col-sm">
                                <input type="date" name="end" class="form-control" id="end_day"
                                    onchange="setMinEndDate()">
                            </div>
                            <script>
                                document.getElementById('start_day').value = new Date().toDateInputValue();
                                document.getElementById('end_day').value = addDays(Date(), 200).toDateInputValue();
                            </script>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="form-row">
                            <label for="min_category">Категория похода</label>
                        </div>
                        <div class="form-row">
                            <div class="col-sm-1">
                                От
                            </div>
                            <div class="col-sm">
                                <select name="difficulty" id='min_category' class="form-control"
                                    onchange="validate_max_category()">
                                    <option value="none" selected='selected'>---</option>
                                    <option value="I">I</option>
                                    <option value="II">II</option>
                                    <option value="III">III</option>
                                    <option value="IV">IV</option>
                                    <option value="V">V</option>
                                    <option value="VI">VI</option>
                                </select>
                            </div>
                            <div class="col-sm-1">
                                до
                            </div>
                            <div class="col-sm">
                                <select name="difficulty" id='max_category' class="form-control"
                                    onchange="validate_min_category()">
                                    <option value="none">---</option>
                                    <option value="I">I</option>
                                    <option value="II">II</option>
                                    <option value="III">III</option>
                                    <option value="IV">IV</option>
                                    <option value="V">V</option>
                                    <option value="VI" selected='selected'>VI</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-row">

                    <div class="col">
                        <div class="form-row">
                            <div class="col">
                                <label>Показывать походы </label>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" value=""
                                        id="show_hikes_with_completed_groups" checked>
                                    <label class="form-check-label" for="defaultCheck1">Без свободных мест</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" value=""
                                        id="show_hikes_with_close_members_entry" checked>
                                    <label class="form-check-label" for="defaultCheck1">С закрытым добавлением</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" value=""
                                        id="show_hikes_with_entry_by_request" checked>
                                    <label class="form-check-label" for="defaultCheck1">С добавлением по запросу</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <label for="type">Тип</label>
                        <select multiple name="type" class="form-control" id="types">
                            <option value="Пеший" selected='selected'>Пеший</option>
                            <option value="Горный" selected='selected'>Горный</option>
                            <option value="Водный" selected='selected'>Водный</option>
                            <option value="Вело" selected='selected'>Вело</option>
                            <option value="Спелео" selected='selected'>Спелео</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class='cols' id='container' style="padding: 5px;">
                <!--Сюда добавляются походы-->
            </div>
            <div id='no_hikes_message' style="display: flex;align-self: center;"></div>
        </div>
    </div>



    <script>

        function find_all() {

            if (byId('filters_switch').checked) {
                send_data = {};
                send_data['name'] = $('#hike_name')[0].value;
                send_data['min_category'] = $('#min_category')[0].value;
                send_data['max_category'] = $('#max_category')[0].value;
                send_data['start_day'] = $('#start_day')[0].value;
                send_data['end_day'] = $('#end_day')[0].value;
                send_data['types'] = $('#types').val().toString();
                send_data['show_hikes_with_completed_groups'] = $('#show_hikes_with_completed_groups')[0].checked;
                send_data['show_hikes_with_close_members_entry'] = $('#show_hikes_with_close_members_entry')[0].checked;
                send_data['show_hikes_with_entry_by_request'] = $('#show_hikes_with_entry_by_request')[0].checked;
            }
            else {
                send_data = {
                    'name':$('#hike_name')[0].value,
                    'min_category': 'none',
                    'max_category': 'VI',
                    'start_day': '1986-01-01',
                    'end_day': '2076-01-01',
                    'types':"Пеший,Горный,Водный,Вело,Спелео",
                    'show_hikes_with_completed_groups':true,
                    'show_hikes_with_close_members_entry':true,
                    'show_hikes_with_entry_by_request':true
                };
            }
            // alert(send_data);
            console.log(send_data);
            $.ajax({
                url: "/get_filtered_hikes/",
                type: 'POST',
                data: send_data,
                beforeSend: function (xhr, settings) {
                    function getCookie(name) {
                        var cookieValue = null;
                        if (document.cookie && document.cookie != '') {
                            var cookies = document.cookie.split(';');
                            for (var i = 0; i < cookies.length; i++) {
                                var cookie = jQuery.trim(cookies[i]);
                                // Does this cookie string begin with the name we want?
                                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                    break;
                                }
                            }
                        }
                        return cookieValue;
                    }
                    if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                        // Only send the token to relative URLs i.e. locally.
                        xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                    }
                },
                success: function a(json) {
                    if (json.result === "success") {
                        $('#container').empty();
                        if (json.hikes.length === 0) {
                            $('#no_hikes_message').empty();
                            $(`<small id="nothing_was_found" style="display:flex;align-self:center" class="text-muted">Не найдено походов по этому запросу</small>`).appendTo($('#no_hikes_message'));
                        }
                        for (i = 0; i < json.hikes.length; i++) {
                            $('#no_hikes_message').empty();
                            hike = json.hikes[i]
                            jQuery('<div/>', {
                                id: 'hike_' + hike.id,
                                class: 'card',
                                style: 'display:inline-flex'
                            }).appendTo('#container');
                            $(`<a id=\"link_` + hike.id + `\" href=\'/hike/` + hike.id + `\'></a>`).appendTo($('#hike_' + hike.id));
                            //img = document.createElement("img");
                            //img.src = 'data:image/gif;base64,' + hike.image
                            $(`<div class="img_hike" id="img_hike_div_`+hike.id+`"></div>`).appendTo($('#link_' + hike.id));
                            if (hike.image === '') {
                                $(`<img class="card-img-top" src="{% static 'icons/default.jpg' %}" alt="Card image cap">`).appendTo($('#img_hike_div_' + hike.id));
                            }
                            else {
                                $(`<img class="card-img-top" src="data:image/gif;base64,` + hike.image + `" alt="Card image cap">`).appendTo($('#img_hike_div_' + hike.id));
                            }

                            $('<p class="date_lable roboto" style="text-align:right">' + hike.date + '</p>').appendTo($('#link_' + hike.id));
                            $('<h2 class="title new_header">' + hike.name + '</h2>').appendTo($('#link_' + hike.id));
                            $('<p class="creator_lable roboto">Создатель: ' + hike.creator + '</p>').appendTo($('#link_' + hike.id));
                            $('<p class="desc_lable">' + hike.description + '</p>').appendTo($('#link_' + hike.id));
                            $('<div class="row" id="details_row_'+hike.id+'"></div>').appendTo($('#link_' + hike.id));

                            $('<div class="col hike_detail roboto">Сложность: ' + hike.difficulty + '</p>').appendTo($('#details_row_' + hike.id));
                            $('<div class="col hike_detail type_of_hike">Тип похода: ' + hike.type + '</p>').appendTo($('#details_row_' + hike.id));

                        }
                    } else {
                        console.log(json);
                    }
                }

            });
        }


    </script>








    <script src="{% static 'js/hike_filter.js' %}"></script>
    <!-- <script src="{% static 'js/new_hike.js' %}"></script> -->
    <!-- DO NOT EDIT BLOCK -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="{% static 'libs/modules/bootstrap-select/js/bootstrap-select.min.js' %}"></script>

    <!-- END OF DO-NOT-EDIT BLOCK -->
</body>
{% endblock %}