{% extends 'base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/hikes.css' %}">

<body>
    <div id="container" class="cols">
        {% for hike_row in hike %}
        {% for hike in hike_row %}

        <div class="card" style="display: inline-flex;">
            <a href="{{hike.link}}">
                {% if hike.image != '' %}
                <img class="card-img-top" src={{hike.image.url}} alt="Card image cap" style="height: auto; border-radius: 3px;">
                {% else %}
                <img class="card-img-top" src="{% static 'icons/default.jpg' %}" alt="Card image cap" style="border-radius: 3px;">
                {% endif %}
                <p class="date_lable" align = "right">{{rus_date}}</p>
                <h2 class="title">{{hike.name}}</h2>
                <p class="creator_lable">Создатель: {{hike.creator.first_name}} {{hike.creator.last_name}}</p>
                <p class="desc_lable">{{hike.short_description}}</p>
                <div class="row"> 
                    <div class="col" style="font-style: normal; font-weight: bold;font-size: 12px;line-height: 14px; color: rgba(0, 0, 0, 0.6); margin-bottom: 25px;"> Сложность: {{hike.difficulty}} </div>
                    <div class="col" style="font-style: normal; font-weight: bold;font-size: 12px;line-height: 14px; color: rgba(0, 0, 0, 0.6); margin-bottom: 25px;" align = "right"> Тип похода: {{hike.type_of_hike}} </div>
                </div>
            </a>
        </div>
        {% endfor %}
        {% endfor %}
    </div>
</body>
{% endblock %}