{% extends 'base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/about_us.css' %}">
<hr>
<h2>Для чего служит этот сайт?</h2>

<p>Проект разрабатывается для сбора туристами группы для спортивных походов. Каждый пользователь может
    предложить
    маршрут и начать сбор группы по нему, или же добавиться в группу другого
    человека. Этот сервис может помочь, если, например, пользователь только хочет начать ходить в походы, или же
    уже
    опытный турист собирает компаньонов из разных городов, однако облась применения
    сервиса несколько шире, и он может использоваться просто для удобства сбора группы внутри клуба (в таких
    случаях, просим в кратком описании делать соответствующие уточнения).</p>
<!--по образцу "только ТК [название]"-->
<hr>
<h2>Кем ведётся разработка?</h2>
<div class="row">
    <div class='col-sm authors_info'>
        <h3>Команда</h3>
        <div class="row">
            <img src="{% static 'icons/avatar_maks.png' %}" class='about_page_avatar'> Алексеев Максим
        </div>
        <div class="row">
            <img src="{% static 'icons/avatar_casy.png' %}" class='about_page_avatar'> Касьянов Ярослав
        </div>
        <h3>Наши менторы</h3>
        <div class="row">
            <img src="{% static 'icons/avatar_stas.png' %}" class='about_page_avatar'> Станислав Лебеденко
        </div>
        <div class="row">
            <img src="{% static 'icons/avatar_vadym.png' %}" class='about_page_avatar'> Вадим Васильев
        </div>
    </div>
    <div class="col-lg">

        <p>Сайт стартовал как выпускная работа двух учеников <a href='http://www.rl.odessa.ua/index.php/ru/'>
                Ришельевского лицея</a>, обучавшихся на направлении Информационных Компьютерных Технологий
            и проходивших практику в аутсорс-компании <a href='https://sigma.software/'>Sigma Software</a>. Работа была
            защищена, однако, так или иначе, разработка и поддержка ещё ведётся, и мы хотим, чтобы наш проект всё же
            приносил пользу. Мы также благодарны за любую помощь со стороны пользователей. Если у Вас есть идеи или
            пожелания, Вы хотите оставить отзыв или обнаружили ошибку, можете прислать сообщение на адрес <a
                href='mailto:uk.eu@pm.me'>uk.eu@pm.me</a> или в Telegram (<a href='https://t.me/Casy7'>@Casy7</a>).
            <br><br>
            Хотелось бы выразить благодарность нашим менторам - Вадиму Васильеву и Стасу Лебеденко, а также учителю
            информатики Ришельевского лицея Сергею Шумихину, по инициативе которого было сформировано направление ИКТ и
            практика лицеистов в IT-компаниях.
        </p>
    </div>

</div>

<!-- <p>Ладно, тут уже никто не заметит этого текста. Спасите! Меня держат взаперти и заставляют работать за еду. Я
    где-то в подвале на посёлке Котовского. Они заставляют меня писать на JS! JS! А я не знаю JS! Я вообще
    бэкенд-разработчик!
    Если у вас нет идей, как спасти меня, хотя бы чем-то помогите и проверьте сайт на валидацию и миксины. Результаты
    пришлите
    на uk.eu@pm.me. Это единственная моя почта, которую они ещё не запалили. Они идут!</p> -->


{% endblock %}