{% extends 'base.html' %}
{% block content %}
{% load static %}


<link href="{% static 'css/new_hike.css'%}" rel="stylesheet">
<link href="{% static 'libs/modules/bootstrap-select/css/bootstrap-select.min.css'%}" rel="stylesheet">

<!-- Этот стиль ничего полезного не делает, но крашит навбар. Использовать по назначению. -->
<!-- <link href="https://developer.snapappointments.com/bootstrap-select/A.ajax,,_libs,,_highlight.js,,_9.15.6,,_css,,_github.min.css+css,,_base.css+css,,_custom.css+dist,,_css,,_bootstrap-select.min.css,Mcc.MsOMCVf2_h.css.pagespeed.cf.zpjYFY_U7q.css" rel="stylesheet"> -->

<!-- А эта штука изменяет вид badger-а. Может по необходимости призывать баги. -->
<!-- <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet"> -->


<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">




<script>
    function delete_avatar() {
        document.getElementById("myimg").src = "{% static 'icons/default.jpg' %}";
        clearInputFile(document.getElementById("myfile"));
        del_avatar_button();
        // 
    }</script>
<div class="card" style="width:50%; border: 1px solid rgb(221, 221, 221); margin: auto;border-radius: 0px; min-width: 500px;">
    <form method="POST" enctype="multipart/form-data">
        {%csrf_token%}

        <!-- <input type="file" class="form-control-file" id="exampleFormControlFile1"> -->
        <div class="img-container">

            <img src="{% static 'icons/default.jpg' %}" id="myimg" class="card-img-top" default="Фото не выбрано"></img>

            <!-- <i class="fas fa-camera upload"></i> -->
            <div class="card-body">
                <div class="row">

                    <div class="col-md" id="custom-file-input">
                        <input type="file" class="file-upload" name="image" style="display: none;" id="myfile"
                            accept=".jpg, .jpeg, .png">
                        <label type="button" for="myfile" class="form-control upload_label"
                            style="display: block;text-align: center;">Загрузить фото</label>
                    </div>
                    <div class="col-md" id="del_button">

                    </div>
                </div>
                <!-- <br> -->
                <script src="{% static 'js/new_hike.js' %}"></script>
                <!--  <td rowspan="2" width="2" id="upload_photo"><i class="fas fa-camera upload"></i></td> -->
                <label for="exampleFormControlInput1">Название похода</label>

                <div class="card-title"><span><input type="text" class="form-control" name="name" placeholder=""
                            style="font-size: 15px;" required=""></span>
                </div>
                <label for="exampleFormControlInput1">Краткое описание</label>
                <span>
                    <textarea class="form-control" name="short_description" placeholder="Пару строк о походе"
                        style="font-size: 13px;"></textarea>
                </span>
                <label for="exampleFormControlInput2">Временные рамки</label>
                <div class="form-row">
                    <div class="col">
                        <input type="date" name="start" class="form-control" required="" id="start_day"
                            onchange="setMinEndDate()">
                    </div>
                    <div class="col">
                        <input type="date" name="end" class="form-control" required="" id="end_day"
                            onchange="setMinEndDate()">
                    </div>
                    <script>
                        document.getElementById('start_day').value = new Date().toDateInputValue();
                        document.getElementById('start_day').min = addDays(Date(), -1).toDateInputValue();
                        document.getElementById('end_day').value = addDays(Date(), 10).toDateInputValue();
                    </script>

                </div>
                <div class="form-row">
                    <div class="col">
                        <label for="exampleFormControlInput2">Сложность</label>
                        <span>
                            <select name="difficulty" class="form-control">
                                <option value="none">Без категории</option>
                                <option value="I">I</option>
                                <option value="II">II</option>
                                <option value="III">III</option>
                                <option value="IV">IV</option>
                                <option value="V">V</option>
                                <option value="VI">VI</option>
                            </select>
                        </span>
                    </div>
                    <div class="col">
                        <label for="exampleFormControlInput2">Тип</label>
                        <span>
                            <select name="type" class="form-control">
                                <option value="Пеший">Пеший</option>
                                <option value="Горный">Горный</option>
                                <option value="Водный">Водный</option>
                                <option value="Вело">Вело</option>
                                <option value="Спелео">Спелео</option>
                            </select>
                        </span>
                    </div>

                </div>
                <label for="exampleFormControlInput6">Участники</label>
                <!--Скрытый список участников-->
                <br>
                <select class="selectpicker" data-live-search="true" id="select_ptc"  data-size="5">
                    {% for user in user_list %}
                    <option data-tokens="{{user.0}}" value="{{user.0}}">{{user.1}}</option>
                    {% endfor %}

                </select>


                <button class="btn btn-outline-secondary" type="button" onclick="add_user()">Добавить</button>
                <br>
                <input type="hidden" id="list-usrs" name="participants" value="">
                <br>
                <ul id="inline-userlist">


                </ul>

                <label for="limit_of_members">Количество участников</label>
                <input type="number" name="limit_of_members" id="numberExample" value="10" min="1" max="1000"
                    class="form-control">

                <!-- <input type="number" id="limit_of_members"> -->
                <br>


                <label for="">Как пользователи могут присоединиться к группе</label>
                <br>
                <!-- Default inline 1-->
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" class="custom-control-input" id="defaultInline1" value="open" name="can_users_join">
                    <label class="custom-control-label" for="defaultInline1">Свободное добавление</label>
                </div>

                <!-- Default inline 2-->
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" class="custom-control-input" id="defaultInline2" name="can_users_join"
                        value="request" checked>
                    <label class="custom-control-label" for="defaultInline2">По запросу</label>
                </div>

                <!-- Default inline 3-->
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" class="custom-control-input" id="defaultInline3" value="close"
                        name="can_users_join">
                    <label class="custom-control-label" for="defaultInline3">Только по приглашению</label>
                </div>
                <br><br>
                <input type="submit" class="btn btn-secondary btn-block" value="Создать">
            </div>
        </div>
    </form>{%csrf_token%}

    <script>
        function add_user() {
            users = byId('list-usrs').value;
            if (users.indexOf(byId('select_ptc').value) === -1) {
                add_ptc();
            }
        }

        function add_ptc() {
            str_of_users = byId('list-usrs').value.split(',');
            user = byId('select_ptc').value;

            //СЮДЫТЬ ВСТАВИТЬ AJAX-ЗАПРОС
            $.ajax({
                url: "/does_user_exist/",
                type: 'POST',
                data: { 'username': user },
                beforeSend: function (xhr, settings) {
                    function getCookie(name) {
                        var cookieValue = null;
                        if (document.cookie && document.cookie != '') {
                            var cookies = document.cookie.split(';');
                            for (var i = 0; i < cookies.length; i++) {
                                var cookie = jQuery.trim(cookies[i]);
                                // Does this cookie string begin with the name we want?
                                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                    break;
                                }
                            }
                        }
                        return cookieValue;
                    }
                    if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                        // Only send the token to relative URLs i.e. locally.
                        xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                    }
                },
                success: function a(json) {
                    // alert(json);
                    // alert(json.exist);
                    if (json.exist === "True") {
                        var user_exists = true;
                        str_of_users = str_of_users + ',' + user;
                        //alert(list);
                        document.getElementById('list-usrs').value = str_of_users;
                        // alert(document.getElementById('list-usrs').value);

                        user_card = document.createElement("li");
                        user_card.className = "card";
                        if (user_exists) {
                            user_card.style = "width:90px; border: .6px solid rgb(221, 221, 221);background-color:#fcfcfc; margin-bottom: 7px;";

                        }
                        else {
                            user_card.style = "width:90px; border: .6px solid rgb(221, 221, 221);background-color:#fffffc; margin-bottom: 7px;";
                        }
                        img = document.createElement("img");
                        img.className = "card-img-top";
                        img.style = "width: 100%;height:90px";
                        if (json.exist_image) {
                            data = json.image
                            img.src = 'data:image/gif;base64,' + data;
                        }
                        else {
                            img.src = "{%static 'icons/logo_grey.png'%}"
                        }
                        span = document.createElement("span");
                        span.style = "text-align:center";
                        span.value = user;
                        span.text = user;
                        span.appendChild(document.createTextNode(user));
                        button = document.createElement("button");
                        button.className = "form-control";
                        button.type = "button";
                        button.onclick = function add_this_user() { del_user(user) };
                        button.style = "height:40px; border: none;";
                        button.innerHTML = "Удалить";

                        user_card.appendChild(img);
                        user_card.appendChild(span);
                        user_card.appendChild(button);

                        li = document.createElement("li");
                        li.className = "list-inline-item";
                        li.name = user;
                        li.id = user;

                        li.appendChild(user_card);
                        document.getElementById('inline-userlist').insertBefore(li, document.getElementById("add-user"));


                    }
                    else {
                        var user_exists = false;
                    }
                }

            });
        }



    </script>

</div>




<!-- Да, вызов bootstrap два раза, по итогу 3. Но измените порядок -- всё полетит -->

<!-- DO NOT EDIT BLOCK -->
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>

<script src="{% static 'libs/modules/bootstrap/js/bootstrap.min.js' %}"></script>

<script src="{% static 'libs/modules/bootstrap-select/js/bootstrap-select.min.js' %}"></script>

<!-- <script src="{% static 'libs/modules/jquery/jquery.js' %}" type="text/javascript"></script> -->

<script src="{% static '/libs/modules/bootstrap/js/bootstrap.js' %}"></script>
<!-- END OF DO-NOT-EDIT BLOCK -->

{% endblock %}