{% extends 'base.html' %}
{% block content %}
{% load static %}
<body>

    <div style="width: 70%; margin: auto;">

        {% for post in all_posts %}

        <div class="card post_card">
            <a href = {{post.link}}>

            <div class="row">
                <div class="col-1">
                    {% if post.avatar != '' %}
                    <img src='{{ post.avatar }}' width="60" class='creator_icon user_icon_small' alt="{% static 'icons/logo_grey.png' %}">
                    {% else %}
                    <img src="{% static 'icons/logo_grey.png' %}" width="60" class='creator_icon user_icon_small' alt="Responsive image">
                    {% endif %}
                </div>
                <div class="col-9">
                    <p class='user_full_name' style="display: inline;
                        line-height: 2em;
                        font-weight: 800;
                        letter-spacing: 0.084em;
                        font-size: 14px;
                        padding-top: 2px;">{{ post.author_fullname }}</p>
                    <br>
                    <small>{{ post.author_username }}</small>     
                </div>
                <div class="col-2">
                    <div>
                        <small style="color: gray;float: right;">{{ post.time_published }}</small>
                    </div>
                </div>
            </div>

            
            <div style="word-wrap: break-word;     
            max-height: 200px; overflow: hidden;">
                {{post.content|safe}}

                <p>
                    <a></a>Пост описывает <a href = /hike/{{hike}} style="color:  #72319f; text-decoration: underline" >этот</a> поход. Чтобы узнать больше, перейдите по ссылке.
                </p>
            </div>    
            
 
        </div>
    </a>

        <hr>
        {% endfor %}

    </div>

</body>
{% endblock %}