.about_page_avatar{
    max-width: 70px;
}

.authors_info {
    min-width: 270px;
    flex-grow: 0;
    float: left;
    align-items: center;
}
.authors_info >* {
    display: inline-block;
    vertical-align: middle;
}
.authors_info .row {
    padding-top:5px;
}