.ck-editor__editable_inline {
    min-height: 400px;
}

/* .mapboxgl-map {
    padding: 15px;
} */

.mapboxgl-popup-content{
    box-sizing: content-box;
    max-width: 700px;
    padding: 5px;
}

td {
    overflow: hidden;
}

#myimg {
    width: 350px;
    height: auto;
    border: 1px solid grey;
    border-radius: 2px;
    background-color: rgb(241, 241, 241);
}

.map-overlay-container {
    position: absolute;
    width: 35%;
    top: 0;
    left: 0;
    padding: 10px;
    z-index: 1;
}

.map-overlay {
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 3px;
    background-color: rgba(216, 216, 216, 0.445);
}


.day_card{
    border: 1px solid rgb(187, 187, 187);
    border-radius: 2px;
    padding: 5px;
    margin: 5px;
}

.red-border{
    border: 1px solid red;
    background-color: rgb(211, 211, 211);
}
.gray-border{
    border: 1px solid rgb(224, 224, 224);
}

label.upload-btn{
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: 300;
}

/* Тут начинаются пробемы */
/* .mapboxgl-canvas{
    width: 100% !important;
    height: 500px !important;
} */