/* .card-img-top{
    width: 100%;
    min-width: 90%;
    height: 170px;
    min-height: 60%;
    max-height: 60%;
    overflow: clip;  
} */

.title {
    padding: 0px;
    margin-bottom: 0px;
    text-transform: none;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: rgba(0, 0, 0, 0.8);
    margin-bottom: 3px;
    padding-top: 12px;
}

.date_lable {
    position: absolute;
    color: rgb(255, 255, 255);
    margin-top: -25px;
    right: 3%;
    width: 100%;
}

.img_hike::after {
    display: block;
    position: relative;
    background-image: linear-gradient(to bottom, transparent 0%, rgb(0, 0, 0) 100%);
    margin-top: -70px;
    height: 70px;
    width: 100%;
    content: '';
}

.creator_lable {
    
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: auto;
    margin-bottom: 5px;
    /* identical to box height */
    color: rgba(0, 0, 0, 0.5);
}

.desc_lable {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 5px;
    color: rgba(0, 0, 0, 0.8);
}

.cols {
    -moz-column-count: 3;
    -moz-column-gap: 3%;
    -moz-column-width: 30%;
    -webkit-column-count: 3;
    -webkit-column-gap: 3%;
    -webkit-column-width: 30%;
    column-count: 3;
    column-gap: 3%;
    column-width: 30%;
}

.card {
    display: inline-flex !important;
}

.box {
    height: 100px;
    background: #BFBFBF;
}

.hike_detail {
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: 25px;
}

.type_of_hike {
    text-align: right;
}

.hike_card{
    padding-top: 20px;
    padding-bottom: 20px;
}