.content {
    padding-top: 1%;
}

#other_filters {
    border: 1px solid rgb(206, 206, 206);
    padding: 5px;
    border-top: none;
    overflow: hidden;
}

label.form-check-label {
    margin-top: 0px;
}

#hike_name {
    border-color: indigo;
}

#hike_name:focus{
    box-shadow: none;
}

#collapse_button{
    background-color: indigo;
    border-color: #72319f;
    width: auto;
    transition: 0.3s; 
    color: white;
}

input.form-control, select.form-control{
    border-color: indigo;
}

#collapse_button:focus{
    color: white;
    box-shadow: none;

}
#collapse_button:active, #collapse_button:hover{
    border-end-start-radius: 0px;
    border-end-end-radius: 0px;
    box-shadow: none;
    color: white;
    background-color: #72319f;

}
/* .card{
    display: block !important;

} */