@media screen and (max-width: 481px) {
    #free_fall_nav_logo_link {
        display: none;
    }
    #navbar_create_hike_button {
        display: none !important;
    }
    #create_hike_button {

        display: none;
    }  
    #create_hike_button p {
        display: none !important;
    }
    #main_navbar_ul {
        display: flex;
        width: 100%;
        /* flex-grow: 1; */
    }
    #main_navbar_ul li {
        display: contents;
        margin-right: auto;
        margin-left: auto;
        /* flex-grow: 1; */
        display: inline-flex;
    }
    #home_nav_button {
        display: initial;
    }
    .nav-link.main-navbar.round {
        display: initial !important;
    }
    #container {
        column-count: 1;
    }
    #navbarSupportedContent {
        position: relative;
        width: 100%;
    }
    #navbar_logout_button {
        display: none !important;
    }
    #mobileSidebarCollapse {
        display: inline-flex;
    }
    #sidebarCollapse {
        display: none;
    }
    .navbar-container {
        margin-right: auto;
        margin-left: auto;
    }
}