.input-group{
    height: 30px;
    
}
.custom-file-input{
    height: 50px;
}
.del_photo{
    display: none;
}
.custom-file-input{
    height: 50px;
}
.del_photo{
    display: none;
}
input.form-control {
    font-size: 12px;
}

.card-title {
    margin-bottom: none;
}

.ptcs{
    height: 140px;
    display: flex;
    overflow-x: scroll;
    overflow-y: visible;
    overflow-wrap: normal;
}



label.form-control.upload_label{
    font-weight: 300;
    margin-top: 0px !important;
}

label.custom-control-label{
    font-weight: 300;
    margin-top: 0px;
    margin-bottom: 0px;    
}
#inline-userlist{
    padding-left: 0px;
    padding-right: 0px;
}

.img_container {
    height: 500px !important;
}